body {
    background-image: linear-gradient(to right, black -60%, blue, black 120%);
    transition: 1s;
}

#bgc {
    padding: var(--default-padding);
    background-color: rgba(255, 255, 255, 0.5);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--default-margin);
    color: var(--font-color);
}

#randomLetter {
    margin: var(--default-margin);
}

#outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

#container {
    display: grid;
    grid-template-columns: 25px 1fr 1fr 1fr 1fr 1fr;
}

#container :nth-child(43) {
    grid-column: 7;
}

.innerContainer {
    display: flex;
    width: 100%;
    min-height: 2em;
    position: relative;
}

.poeng {
    width: 10%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.input {
    padding: var(--default-padding);
    font-size: var(--p-size);
    width: 170px;
    background-color: var(--secondary-color);
    field-sizing: content;
    padding-bottom: 2em;
    hyphens: auto;
}


#sum {
    padding: var(--default-padding);
    margin: var(--default-margin);
    font-size: xx-large;
    color: var(--font-color);
}

@media screen and (max-width: 900px) {
    .input {
        width: 130px;
    }
}

@media screen and (max-width: 699px) {
    .poeng {
        font-size: var(--p-size-mobile);
        width: 30%;

    }

    .input {
        width: 75px;
        font-size: var(--p-size-mobile);
    }
}

@media screen and (max-width: 420px) {
    .input {
        width: 65px;
    }
}

@media screen and (max-width: 370px) {
    .input {
        width: 55px;
    }
}